.container {
  border-radius: 8px;
  padding: 24px;
  margin-bottom: 12px;
}

.r-title {
  text-decoration: underline #2d2d2d;
  text-underline-position: under;
  font-size: 24px;
  margin: 30px 0 20px;
}

.ingredients {
  text-align: left;
  padding: 12px 80px;
}

.singleDirections {
  padding: 12px 80px 24px 80px;
  text-align: left;
}

.directionsForOL {
  padding: 12px 80px 24px 80px;
  margin-left: 20px;
}

.direction-li {
  text-align: left;
  padding-bottom: 8px;
}

@media screen and (max-width: 700px) {
  .directionsForOL {
    padding: 4px 16px;
    margin-left: 20px;
  }

  .singleDirections {
    padding: 4px 16px;
  }

  .container {
    padding: 10px;
  }

  .ingredients {
    padding: 4px 16px;
  }

  .ingredient-line {
    margin: 10px 0;
  }
}

.scroll-link {
  text-decoration: none;
}

@media screen and (min-width: 700px) {
  .r-title {
    font-size: 33px;
    margin: 30px 0 20px;
  }
}
