.r-title {
  text-decoration: underline #2d2d2d;
  text-underline-position: under;
  font-size: 24px;
  margin: 30px 0 20px;
}

.recipe-container {
  padding: 16px;
}

.scroll-link {
  text-decoration: none;
}

@media screen and (min-width: 700px) {
  .container {
    padding: 24px;
  }

  .recipe-container {
    padding-left: 80px;
    padding-right: 80px;
  }
  .r-title {
    font-size: 33px;
    margin: 30px 0 20px;
  }
}
