:root {
  --black: #2d2d2d;
  --blue: #5a6a91;
  --dark-blue: #475270;
  --white: #f5f5f5;
  --red: #932a24;
}

.black {
  color: var(--black);
}

.bg-black {
  background-color: var(--black);
}

.blue {
  color: var(--blue);
}
.bg-blue {
  background-color: var(--blue);
}

.red {
  color: var(--red);
}
.bg-red {
  background-color: var(--red);
}

.darkBlue {
  color: var(--dark-blue);
}
.bg-darkBlue {
  background-color: var(--dark-blue);
}

.white {
  color: var(--white);
}
.bg-white {
  background-color: var(--white);
}
