.banner {
  width: 100%;
  height: auto;
  padding: 0 !important;
  background-color: var(--white);
}

.heading-text {
  margin: 0;
  position: absolute;
  text-decoration: none;
  font-size: 60px;
  text-shadow: 3px 3px var(--black);
}

@media screen and (max-width: 700px) {
  .heading-text {
    font-size: 32px;
  }
}

@media screen and (max-width: 400px) {
  .borked-text {
    font-size: 27px;
  }
}

@media screen and (max-width: 320px) {
  .heading-text {
    font-size: 27px;
  }
}
