.banner {
  width: 100%;
  height: auto;
  padding: 0 !important;
}

.heading-text {
  margin: 0;
  position: absolute;
  text-decoration: none;
  font-size: 60px;
  text-shadow: 5px 5px #2d2d2d;
}

@media screen and (max-width: 700px) {
  .heading-text {
    font-size: 32px;
  }
}
