.rootBody {
  margin: 16px
}

.search-box {
  padding: 12px;
  border-radius: 8px;
  border: none;
}

.checkbox {
  right: 4px;
  top: 0;
}

.piebox {
  top: 20px;
}

.border {
  border: 1px black solid;
  border-radius: 8px;
}


@media screen and (min-width: 700px) {
  .rootBody {
    margin: 48px;
  }
}

@media screen and (min-width: 1050px) {
    .rootBody {
    margin-right: 150px;
    margin-left: 150px;
  }

}
