.rootBody {
  padding: 12px;
}

.search-box {
  padding: 12px;
  border-radius: 8px;
  border: none;
}

.bork-box {
  right: 4px;
  top: 0;
}

@media screen and (min-width: 700px) {
  .rootBody {
    padding: 24px;
  }
}
